<div>&nbsp;</div>
<div class="container-fluid">
      <div class="card">
 	<form id="marcas-datos-form" action="/marcas/new" method="POST">
	  <div class="row mx-3">
		<input type="hidden" id="campo-_id" name="_id" value="<% mar.item('_id')%>">
	    <div class="col form-group">
		<label for="campo-cat">Categoría</label>
		<select class="form-control" id="campo-cat" name="cat" value="<% mar.cat %>">
			<option>Especies</option>
			<option>Patologías</option>
			<option>Terapéutica</option>
		</select>
	    </div>
	    <div class="col form-group">
		<label for="campo-mar">Rótulo</label>
		<input type="text" class="form-control" id="campo-rot" name="rot" value="<% mar.rot %>">
      	    </div>
	    <div class="col form-group">
	        <label for="campo-des">Descripción</label>
        	<input type="text" class="form-control" id="campo-des" name="des" value="<% mar.des %>">
      	    </div>
	    <div class="col form-group">
		<label for="campo-col">Color</label>
		<select class="selectpicker form-control" id="campo-col" name="col" value="<% mar.col %>">
			<option data-content="<span class='badge badge-primary'>1</span>">1</option>
			<option data-content="<span class='badge badge-secondary'>2</span>">2</option>
			<option data-content="<span class='badge badge-success'>3</span>">3</option>
			<option data-content="<span class='badge badge-danger'>4</span>">4</option>
			<option data-content="<span class='badge badge-warning'>5</span>">5</option>
			<option data-content="<span class='badge badge-info'>6</span>">6</option>
			<option data-content="<span class='badge badge-dark'>7</span>">7</option>
		</select>
	    </div>
          </div>
        <div class="modal-footer card-footer">
		<button type="button" class="prevDoc btn btn-primary">&lt;</button>
		<button type="button" class="nextDoc btn btn-primary">&gt;</button>
		<button type="button" class="closeFormSave btn btn-primary">Guardar</button>
		<button type="button" class="closeFormDel btn btn-primary">Borrar</button>
	</div>
 	</form>
     </div>
	<% IF cats.size %>
	 <% FOREACH rec IN cats %>
	   <h5><% rec.cat %></h5>
	   <% FOREACH mar IN rec.pl %>
		<span class="maredit" id="<%mar.item('_id')%>" onclick="marEditfun('<%mar.item('_id')%>');">
			<span id="<% mar.item('_id') %>" class="badge badge-<% PERL %> print qw(primary secondary success danger warning info dark)[<% mar.col %>-1]<% END %>"> <% mar.rot %> </span>&nbsp;
		</span>
	     <% END %>
  	     <hr>
	   <% END %>
	<% ELSE %>
	  Sin marcas.
	<% END %>
</div>


<!-------------------------------------------------------->

<script src='javascripts/ajax.js'></script>

<script>
var lista = ["_id", "rot", "des", "cat", "col"];
var marEditfun = (id) => { 
	console.log(id); 
	setFormData(id);
};
var marSave = document.getElementsByClassName("closeFormSave")[0];
var marDel = document.getElementsByClassName("closeFormDel")[0];
var marSavefun = () => {
	var id = document.getElementById("campo-_id").value;
	var i = 'marcas/put/'+id;
	var f = getFormData();

	console.log(i, f);
	Ajax.put(i,f);
};
var marDelfun = () => {};
marSave.onclick = marSavefun;
marDel.onclick = marDelfun;
var prevDoc = document.getElementsByClassName("prevDoc")[0];
var nextDoc = document.getElementsByClassName("nextDoc")[0];
var prevDocfun = function() {
};
prevDoc.onclick = prevDocfun;
var nextDocfun = function() {
};
nextDoc.onclick = nextDocfun;
var getFormData = function() {
	var j = {};
	var lista = ["rot", "des", "cat", "col"]; // no _id
	for (var field in lista) {
		var n = document.getElementById('campo-'+lista[field]).name;
		var v = document.getElementById('campo-'+lista[field]).value;
		j[n] = v;
	}
	return j;
};
var setById = (id,value) => { document.getElementById(id).innerHTML = value; };
var setFormData = function(id) {
	Ajax.get('marcas/view/'+id, (result) => {
		var json = JSON.parse(result);
		console.log(json);
		for (var field in lista) {
			var d = document.getElementById('campo-'+lista[field]);
			d.value = json[lista[field]];
		}
	});
};
</script>

