<div>&nbsp;</div>
<div class="container-fluid">
      <div class="card">
 	<form id="marcas-datos-form" action="/marcas/new" method="POST">
	  <div class="row mx-3">
		<input type="hidden" id="marid" name="campo-id" value="<% mar.item('_id')%>">
	    <div class="col form-group">
		<label for="campo-mar">Rótulo</label>
		<input type="text" class="form-control" id="campo-rot" name="rot" value="<% mar.rot %>">
      	    </div>
	    <div class="col form-group">
	        <label for="campo-des">Descripción</label>
        	<input type="text" class="form-control" id="campo-des" name="des" value="<% mar.des %>">
      	    </div>
	    <div class="col form-group">
		<label for="campo-cat">Categoría</label>
		<select class="form-control" id="campo-cat" name="cat" value="<% mar.cat %>">
			<option>Especies</option>
			<option>Patologías</option>
			<option>Terapéutica</option>
		</select>
	    </div>
	    <div class="col form-group">
		<label for="campo-col">Color</label>
		<select class="selectpicker form-control" id="campo-col" name="col" value="<% mar.col %>">
			<option data-content="<span class='badge badge-primary'>1</span>">1</option>
			<option data-content="<span class='badge badge-secondary'>2</span>">2</option>
			<option data-content="<span class='badge badge-success'>3</span>">3</option>
			<option data-content="<span class='badge badge-danger'>4</span>">4</option>
			<option data-content="<span class='badge badge-warning'>5</span>">5</option>
			<option data-content="<span class='badge badge-info'>6</span>">6</option>
			<option data-content="<span class='badge badge-dark'>7</span>">7</option>
		</select>
	    </div>
          </div>
        <div class="modal-footer card-footer">
		<button type="button" class="prevDoc btn btn-primary">&lt;</button>
		<button type="button" class="nextDoc btn btn-primary">&gt;</button>
		<button type="button" class="closeFormSave btn btn-primary">Guardar</button>
		<button type="button" class="closeFormDel btn btn-primary">Borrar</button>
	</div>
 	</form>
     </div>
	<% IF marcas.size %>
	  <% FOREACH mar IN marcas %>
	  <span id="<% mar.item('_id') %>" class="badge badge-<% PERL %> print qw(primary secondary success danger warning info dark)[<% mar.col %>-1]<% END %>">
		<% mar.rot %>
	  </span>&nbsp;
	  <% END %>
	<% ELSE %>
	  Sin marcas.
	<% END %>
</div>


<!-------------------- FIN MODAL ------------------------------------->

<script src='javascripts/ajax.js'></script>

<script>
var marSave = document.getElementsByClassName("closeFormSave")[0];
var marDel = document.getElementsByClassName("closeFormDel")[0];
var idCursor;
var marSavefun = () => {
	idCursor= document.getElementById("marid").innerHTML;
	var i = 'marcas/put/'+idCursor;
	var f = getFormData();

	console.log(i, f);
	Ajax.put(i,f);
};
var marDelfun = () => {};
marSave.onclick = marSavefun;
marDel.onclick = marDelfun;
var prevDoc = document.getElementsByClassName("prevDoc")[0];
var nextDoc = document.getElementsByClassName("nextDoc")[0];
var rowCursor;
var maxRowCursor;
var idOf = function(tr) {
	var table = document.getElementById("table-insumos");
	var rows = table.getElementsByTagName("tr");
	maxRowCursor = rows.length - 1;
	var row = rows[tr];
	var id = row.id;
	//console.log(id);
	return id;
};
var prevDocfun = function() {
	rowCursor = ((rowCursor - 1) < 1)? 0 : rowCursor - 1;
	idCursor = idOf(rowCursor);
	setContent(idCursor);
};
prevDoc.onclick = prevDocfun;
var nextDocfun = function() {
	rowCursor = ((rowCursor + 1) >= maxRowCursor) ? maxRowCursor : rowCursor + 1;
	idCursor = idOf(rowCursor);
	setContent(idCursor);
};
nextDoc.onclick = nextDocfun;
var getFormData = function() {
	var lista = ["rot", "des", "cat", "col"];
	var j = {};
	//j[ "_id" ] = idCursor;
	for (var field in lista) {
		var n = document.getElementById('campo-'+lista[field]).name;
		var v = document.getElementById('campo-'+lista[field]).value;
		j[n] = v;
	}
	return j;
};
var setById = (id,value) => { document.getElementById(id).innerHTML = value; };
var fireModal = function(row) {
	rowCursor = row.rowIndex;
	idCursor = idOf(rowCursor);
	setContent(idCursor);
	document.onkeydown = function(e) {
    		e = e || window.event;
    		switch(e.which || e.keyCode) {
			case 37: //left
				prevDocfun();
			break;
			//case 38: //up break;
			case 39: //right
				nextDocfun();
			break;
			//case 40: //down break;
			default: 
			break;
		}
	};
	modal.style.display="block"; 
};
var setContent = function(id) {
	Ajax.get('insumos/view/'+id, (result) => {
		var json = JSON.parse(result);
		var titulo = json.art + ' ' + json.prov + ' ' + json.vol + ' ' + json.un;
		setById('insumo-titulo',titulo);
		//var borrar = document.getElementById('insumo-nombre-borrar');
		//borrar.innerHTML = json.art;

		var lista = ["art", "vol", "un", "prov", "pre"];
		for (var field in lista) {
			var d = document.getElementById('campo-'+lista[field]);
			d.value = json[lista[field]];
		}
	});
};
</script>

