lightrow {
	background-color: "#fee";
}

darkrow {
	background-color: "#ddd";
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #889999;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #889999;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
/*
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
*/
/* https://stackoverflow.com/questions/38623197/how-to-style-boostrap-select */
.form {
  max-width: 330px;
  padding: 15px;
  padding-top: 120px;
  margin: 0 auto;
}
.form .form-heading {
  margin-bottom: 20px;
  text-align: center;
}
.form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form .form-control:focus {
  z-index: 2;
}
.form input[type="text"] {
  margin-bottom: -1px;
  border-radius: 0;
}

